@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'webfontregular';
    src: url('centurygothic-bold.woff2') format('woff2'),
         url('centurygothic-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
